name: agora_rtm
description: Flutter plugin for Agora RTM SDK.
version: 0.9.4
author: Agora.io
homepage: https://www.agora.io

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    androidPackage: io.agora.agorartm
    pluginClass: AgoraRtmPlugin
